In [1]:
# Read data
import pickle
def load_file(filename):
    with open(filename, 'rb') as fi:
        data = pickle.load(fi)
    return data

In [ ]:
from Data_Preprocessing import general as dp
from Data_Preprocessing import calculate_y as cy
from Data_Preprocessing import Train_test
import pandas as pd
import numpy as np

filename = 'C:/Users/USER/Desktop/AIML/資料/Data'
data = load_file(filename)

data = data[data.isna()['UNIT_POST_CODE'] == False]
data = data[data.isna()['CITY'] == False]
data = data[data.isna()['DISTRICT'] == False]
data = data[data.isna()['LOCATION_ID'] == False]

# Training
data = dp.fillnamean(data)  
data = dp.drop_isable(data)
data = dp.drop_repeatcolumn(data)
data = dp.encoding_onehot(data)
data['START_DATE'] = dp.date2months(data['START_DATE'], 1950)
# data = data.drop(['START_DATE'], axis = 1)
# data_train, data_test = dp.split_traintest(data, 0.2)
data_X, data_y = dp.separate_Xy(data)
data_y = cy.calculate_ymean(data_y)

In [35]:
data_X

,START_DATE,AGENT_AGE,ON_BOARD_AGE,SENIORITY,AGENT_SEX,UNIT_POST_CODE,LOCATION_ID,login_mean,contact_mean,contact_custmean,...,CITY_新北市,CITY_新竹市,CITY_新竹縣,CITY_桃園市,CITY_澎湖縣,CITY_花蓮縣,CITY_苗栗縣,CITY_金門縣,CITY_雲林縣,CITY_高雄市
0,462,63.7,29.5,34.2,1.0,407667.0,2.0,4.608698,22.970611,19.323540,...,0,0,0,0,0,0,0,0,0,0
1,530,57.7,29.2,28.6,0.0,600578.0,3.0,4.608698,22.970611,19.323540,...,0,0,0,0,0,0,0,0,0,0
2,471,60.7,27.2,33.4,0.0,105608.0,1.0,4.608698,22.970611,19.323540,...,0,0,0,0,0,0,0,0,0,0
3,472,64.4,31.0,33.4,0.0,220781.0,1.0,0.166667,22.970611,19.323540,...,1,0,0,0,0,0,0,0,0,0
4,538,59.9,32.0,27.9,0.0,407667.0,2.0,1.000000,22.970611,19.323540,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19764,870,21.5,21.4,0.2,0.0,900012.0,3.0,0.416667,22.970611,19.323540,...,0,0,0,0,0,0,0,0,0,0
19765,870,38.9,38.7,0.2,0.0,500017.0,2.0,4.608698,22.970611,19.323540,...,0,0,0,0,0,0,0,0,0,0
19766,870,22.0,21.8,0.2,1.0,717010.0,3.0,0.750000,0.750000,0.750000,...,0,0,0,0,0,0,0,0,0,0
19767,871,24.0,23.9,0.1,1.0,800204.0,3.0,0.750000,9.000000,8.916667,...,0,0,0,0,0,0,0,0,0,1
19768,870,22.4,22.2,0.2,0.0,110407.0,1.0,0.250000,22.970611,19.323540,...,0,0,0,0,0,0,0,0,0,0

In [46]:
#data_ = pd.concat([data_X.iloc[:, :7], data_X.iloc[:, 18:]], axis=1)
data_ = data_X.iloc[:, :7]
data_

,START_DATE,AGENT_AGE,ON_BOARD_AGE,SENIORITY,AGENT_SEX,UNIT_POST_CODE,LOCATION_ID
0,462,63.7,29.5,34.2,1.0,407667.0,2.0
1,530,57.7,29.2,28.6,0.0,600578.0,3.0
2,471,60.7,27.2,33.4,0.0,105608.0,1.0
3,472,64.4,31.0,33.4,0.0,220781.0,1.0
4,538,59.9,32.0,27.9,0.0,407667.0,2.0
...,...,...,...,...,...,...,...
19764,870,21.5,21.4,0.2,0.0,900012.0,3.0
19765,870,38.9,38.7,0.2,0.0,500017.0,2.0
19766,870,22.0,21.8,0.2,1.0,717010.0,3.0
19767,871,24.0,23.9,0.1,1.0,800204.0,3.0
19768,870,22.4,22.2,0.2,0.0,110407.0,1.0

In [50]:
from sklearn.cluster import KMeans
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler().fit(data_)
X_scaled = scaler.transform(data_)

k = 10
kmeans = KMeans(n_clusters=k, random_state=42)
y_pred = kmeans.fit_predict(X_scaled)
data['cluster'] = y_pred
cluster = data.groupby(['cluster'])
cluster.get_group(1)

,START_DATE,AGENT_AGE,ON_BOARD_AGE,SENIORITY,AGENT_SEX,UNIT_POST_CODE,LOCATION_ID,login_mean,contact_mean,contact_custmean,...,CITY_新竹市,CITY_新竹縣,CITY_桃園市,CITY_澎湖縣,CITY_花蓮縣,CITY_苗栗縣,CITY_金門縣,CITY_雲林縣,CITY_高雄市,cluster
17,715,52.0,38.9,13.1,0.0,320676.0,1.0,0.500000,22.970611,19.323540,...,0,0,1,0,0,0,0,0,0,1
29,740,49.6,38.6,11.1,0.0,104075.0,1.0,0.500000,22.970611,19.323540,...,0,0,0,0,0,0,0,0,0,1
34,719,51.1,38.3,12.8,0.0,407667.0,2.0,0.083333,22.970611,19.323540,...,0,0,0,0,0,0,0,0,0,1
70,745,45.8,35.2,10.7,0.0,104075.0,1.0,1.250000,6.416667,5.916667,...,0,0,0,0,0,0,0,0,0,1
97,752,46.4,36.3,10.0,0.0,104075.0,1.0,1.750000,0.583333,0.583333,...,0,0,0,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19256,796,41.0,34.6,6.4,0.0,100417.0,1.0,0.250000,22.970611,19.323540,...,0,0,0,0,0,0,0,0,0,1
19264,796,40.6,34.2,6.4,0.0,110407.0,1.0,16.666667,16.916667,14.166667,...,0,0,0,0,0,0,0,0,0,1
19317,799,40.7,34.5,6.1,0.0,320045.0,1.0,4.608698,22.970611,19.323540,...,0,0,1,0,0,0,0,0,0,1
19321,802,40.5,34.6,5.9,0.0,110407.0,1.0,3.833333,15.666667,15.333333,...,0,0,0,0,0,0,0,0,0,1
19330,797,40.3,34.0,6.3,0.0,104471.0,1.0,9.000000,147.666667,20.083333,...,0,0,0,0,0,0,0,0,0,1

In [44]:
# Store data
import pickle

with open('C:/Users/USER/Desktop/AIML/資料/Data_cluster', 'wb') as fi:
    pickle.dump(data, fi)